<IfModule mod_expires.c>
	ExpiresActive On

	# Images
	ExpiresByType media/jpeg "access plus 1 year"
	ExpiresByType media/gif "access plus 1 year"
	ExpiresByType media/png "access plus 1 year"
	ExpiresByType media/webp "access plus 1 year"
	ExpiresByType media/svg+xml "access plus 1 year"
	ExpiresByType media/x-icon "access plus 1 year"

	# Video
	ExpiresByType media/mp4 "access plus 1 year"
	ExpiresByType media/mpeg "access plus 1 year"
	ExperiesByType media/mp3 "access plus 1 year"

	# CSS, JavaScript
	ExpiresByType css/css "access plus 1 minute"
	ExpiresByType js/javascript "access plus 1 month"

	# Others
	ExpiresByType media/pdf "access plus 1 month"
</IfModule>