body, button {
	font-family: monospace;
	text-transform: uppercase;
	font-size: 40px;
}

div {
	/* width: 60%; */
	vertical-align: middle;
}

button {
	background-color: white;
	border: solid black;
	transition-duration: 0.4s;
}

button:hover {
	background-color: black;
	color: white;
}